<ion-header>
  <ion-toolbar>
    <ion-title>Careers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round" size="large" color="success"><ion-icon name="flask-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large"><ion-icon name="people-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large" color="danger"><ion-icon name="fitness-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large"><ion-icon name="nutrition-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large" color="tertiary"><ion-icon name="color-palette-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large" color="warning"><ion-icon name="school-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large" color="secondary"><ion-icon name="qr-code-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large" color="medium"><ion-icon name="cash-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large"><ion-icon name="leaf-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large" color="dark"><ion-icon name="briefcase-outline"></ion-icon></ion-button>
  <ion-button shape="round" size="large"><ion-icon name="business-outline"></ion-icon></ion-button>
</ion-content>

