<ion-header>
  <ion-toolbar>
    <ion-title>Careers</ion-title>
      <ion-buttons slot="start">
        <ion-button shape="round" size="medium" color="primary" (click)="onhome()"><ion-icon name="home-outline"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button shape="block" size="large" color="success" (click)="onselect('science')"><ion-icon name="flask-outline"></ion-icon></ion-button>
  </ion-col>
  <ion-col size="4">
    <ion-button shape="block" size="large"><ion-icon name="people-outline"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="4">
  <ion-button shape="block" size="large" color="danger" (click)="onselect('health')"><ion-icon name="fitness-outline"></ion-icon></ion-button>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="4">
    <ion-button shape="block" size="large" color="tertiary"><ion-icon name="color-palette-outline"></ion-icon></ion-button>
  </ion-col>
  <ion-col size="4">
    <ion-button shape="block" size="large" color="warning"><ion-icon name="school-outline"></ion-icon></ion-button>
  </ion-col>
  <ion-col size="4">
    <ion-button shape="block" size="large" color="secondary" (click)="onselect('technology')"><ion-icon name="desktop-outline"></ion-icon></ion-button>
   </ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="4">
    <ion-button shape="block" size="large" color="dark"><ion-icon name="cash-outline"></ion-icon></ion-button>
  </ion-col>
  <ion-col size="4">
    <ion-button shape="block" size="large" color="success"><ion-icon name="leaf-outline"></ion-icon></ion-button>
  </ion-col>
  <ion-col size="4">
    <ion-button shape="block" size="large" color="medium"><ion-icon name="briefcase-outline"></ion-icon></ion-button>
 </ion-col>
 </ion-row>
 </ion-grid>

</ion-content>

