<ion-header>
  <ion-toolbar>
    <ion-title>Technology</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list (ionChange)="ontechnology()"></ion-list>
<ion-content>
    <ion-tabs #topic> 
      <ion-tab-bar>
        <ion-tab-button tab="classes">
          <ion-icon name="book-outline"></ion-icon>
          <ion-label>Classes</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="clubs">
          <ion-icon name="ribbon-outline"></ion-icon>
          <ion-label>Clubs</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
    test
    class
    - basic: 2 years of foreign language, 1-2 semesters of art (graphic design?), 3 years of history, 4 years of english, algebra + geometry. Important: AP Computer science, pre-calculus, calculus, statistics 1 + 2, physics, chemistry, biology, 3D design 

    clubs
    - robotics, beta chi pi (science club) hackathon team, esports team 
</ion-content>

