<ion-header collapse="condense">
    <h1 style="text-align:center;padding-top:32px;color:var(--ion-color-primary);font-size:48px">Careers by ND</h1>
</ion-header>

<ion-content fullscreen>
 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
  <ion-list (ionChange)="oncareers()">
    <ion-list-header>
      <ion-label>
        Select your school to start your career journey!
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>School</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Notre Dame High School</ion-select-option>
        <ion-select-option value="g">EverAfter High School</ion-select-option>
        <ion-select-option value="h">Hogwarts School</ion-select-option>
        <ion-select-option value="j">East High School</ion-select-option>
        <ion-select-option value="k">Riverdale High School</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
